################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project1BTeam15/.vs/Project1BTeam15/v15
